.stand {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
