.item {
    border-bottom:  1px solid lightgrey;
}

.item:last-of-type {
    border-bottom:  none;
}

.users {
    border-collapse: collapse;
    width: 606px;
}

.users th, .users td {
    padding: 10px 10px 10px 15px;
}


.buttonsContainer {
    margin: 0px 0px 15px 150px;
    display: flex;
}

.container {
    margin: 15px 0px 0px 70px;
}

.thead {
    height: 36px;
    font-weight: bold;
    background-color: #E5E5E5;

}

.nameCol {
    margin-left: 5px;
    width:303px;
    height: 36px;
    text-align: left;

}

.ageCol {
    width:303px;
    height: 36px;
}