.body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.App {

}

.hw {
    margin-top: 20px;

}


.hw message {

}

.hwTitle {
    margin: 50px 0px 0px 0px;
    padding-left: 50px;
    border-bottom: 2px solid #D9D9D9;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

}