.friendMessage {
    width: 527px;
    height: 60px;
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
}

.friendImageAndText {
    align-items: center;
    display: flex;
    width: 600px;
    height: 60px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    color: black;
}

.friendText:after {
    color: black;
}

.friendName {
    font-style: normal;
    font-size:16px;
    font-weight: bold;
}


.friendMessageText {
    font-size:16px;
}

.friendTime {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
