.greetingForm {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
}

.error {
    color: red;
}

.input {
    min-height: 36px;
    min-width: 372px;
    border-color: black;
    border-radius: 5px;
    margin-right: 7px;
}

.input:focus {
    min-height: 36px;
    min-width: 372px;
    outline: none;
    border-radius: 5px;
    margin-right: 7px;
}

.errorInput {
    min-height: 36px;
    min-width: 372px;
    outline: none;
    border-color: #cc0000;
    border-radius: 5px;
    margin-right: 7px;
}

.button {
    min-height: 36px;
    min-width: 78px;
    border-radius: 5px;
    background-color: #0059b2;
    color: #FFFFFF;

}

.button:focus {
    min-height: 36px;
    min-width: 78px;
    border-radius: 5px;
    background-color: #0059b2;
    color: #FFFFFF;
}

.button:active {
    height: 36px;
    min-width: 78px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: #FFFFFF;

}

.button:disabled {
    height: 36px;
    min-width: 78px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: #FFFFFF;
}

.text {
    margin-bottom: 5px;
    color: darkgrey;
}

.greeting {
    margin-top: 5px;
}
