.sendForm {
    display: inline-flex;

}

.textarea {
    display: flex;
    min-width: 976px;
    min-height: 40px;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    outline: none;
    background: #F5F7FB;
    border: none;

}

.button {
    background: #0066CC;
    border-radius: 20px;
    min-width: 120px;
    height: 40px;
    color: #FFFFFF;



}

.button:hover {

}
.button:active {

}
