.button {
    color: white;
    min-width: 132px;
    min-height: 30px;
    border-radius: 3px;
}

.disabled {
    background-color: #004D99;
    opacity: 0.5;
    pointer-events: none;
}

.secondary {
    background-color: white;
    color: #0066CC;
}

.default {
    background-color: #0066CC;
    color: white;
}

.red {
    background-color: #CC1439;
    color: white;
}

.default:hover {

    background-color: #0080FF;
}

.red:hover {

    background-color: #FF1A47;
}

.secondary:hover {
    background-color: darkgray;
}

.default:active {
    background-color: #0080FF;
}

.secondary:active {
    background-color: black;
}

.red:active {
    background-color: maroon;
}

.button:disabled {
    background-color: lightgray;
    color: darkgray;

}