.button {
    color: white;
    min-width: 132px;
    min-height: 30px;
    border-radius: 3px;
    margin-right: 30px;
    margin-bottom: 5px;

}

.disabled {
    background-color: #004D99;
    border-color:  grey;
    opacity: 0.5;
    pointer-events: none;

}

.secondary {
    background-color: white;
    border-color:#0066CC;
    color: #0066CC;
    font-weight: bold;
    outline:none;
    box-shadow: none;
}

.default {
    background-color: #0066CC;
    color: white;
}

.red {
    border-color:  #CC1439;
    background-color: #CC1439;
    color: white;
}

.default:hover {

    background-color: #0080FF;
}

.red:hover {

    background-color: #FF1A47;
}

.secondary:hover {
    background-color: darkgray;
}

.default:active {
    background-color: #0080FF;
}

.secondary:active {
    background-color: black;
}

.red:active {
    background-color: maroon;
}

.button:disabled {
    background-color: lightgray;
    color: darkgray;
    border-color:  grey;

}